

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: #f9f9f9;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    color: #111;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

p, ul, ol, pre, table, blockquote {
    margin-bottom: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

code {
    background-color: #e7e7e7;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
}

pre {
    background-color: #e7e7e7;
    padding: 20px;
    border-radius: 4px;
    overflow: auto;
}

pre code {
    background-color: transparent;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

blockquote {
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd;
}

table {
  width: 100%; /* Full-width */
  border-collapse: collapse; /* Collapses the border */
  margin: 20px 0; /* Adds some spacing around the table */
}

th, td {
  padding: 8px; /* Adds space around the text in each cell */
  text-align: left; /* Aligns text to the left */
  vertical-align: top;
  border-bottom: 1px solid #ddd; /* Adds a light line under each row */
}

th {
  background-color: #f2f2f2; /* Light gray background for headers */
  color: #333; /* Dark text for contrast */
}

tr:hover {
  background-color: #f5f5f5; /* Lighter row background on hover for interactivity */
}


/* LAYOUT specific stuff */
/* NAVIGATION */
/* Container styling */
nav {
    background-color: #333; /* Dark background */
    overflow: hidden;
}

/* List styling */
nav ul {
    list-style-type: none; /* Removes bullet points */
    margin: 0;
    padding: 0;
    display: flex; /* Aligns items in a row */
}

/* List item styling */
nav ul li {
    float: left;
}

/* Link styling */
nav ul li a {
    display: block; /* Allows padding to increase clickable area */
    color: white; /* Text color */
    text-align: center; /* Centers text */
    padding: 14px 20px; /* Top and bottom padding, left and right padding */
    text-decoration: none; /* Removes underline from links */
}

/* Changes link color on hover */
nav ul li a:hover, nav ul li.active a {
    background-color: #ddd;
    color: black;
}
